<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbms2_crud.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=dbms.cohc7bcuo0vm.ap-southeast-1.rds.amazonaws.com;Persist Security Info=True;Password=amazonrds;User ID=admin;Initial Catalog=dbms_galicia"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>